<div class="tabbable">
	<ul class="nav nav-tabs">
		<li ng-repeat="pane in panes" ng-class="{active:pane.selected}">
			<a href="#" ng-click="select(pane)">{{pane.title}}</a>
		</li>
		<li><a href="#newTabModal" role="button" data-toggle="modal">New Tab &#43;</a></li>
	</ul>
	<div class="tab-content" ng-transclude ng-repeat="pane in panes">
		<div class="display well well-lg">
			<p>{{pane.content}}</p>
		</div>
		<div class="hide editor panel panel-default">
			<div class="panel-body">
				<textarea rows="6" cols="80" ng-model="tab.content" placeholder="Enter text content here" disabled="disabled" style="resize:none">{{pane.content}}</textarea>
			</div>
			<div class="panel-footer" ng-controller="paneCtrl">
				<button ng-click="deleteTab(tab)" class="btn btn-primary">Delete</button>
				<button ng-click="saveEdit()" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>